.category-header {
  #main-outlet {
    padding-top: 20px;
  }
}

div[class^="category-title-header"] {
  padding-top: 45px; // height of Discourse nav bar, see main CSS
  display: flex;
  text-align: left;
  width: 100%;
  justify-content: center;
  background-color: #C8CCD1;
  background-size: cover;
  background-position: center left;
  .wrap {
    padding-top: 3em;
    padding-bottom: 3em;
    width: inherit; // site width
    position: relative;
    display: flex;
    flex-wrap: wrap;
      .category-title-contents {
        padding: 1em 1.5em;
        color: #222;
        background-color: rgba(255, 255, 255, 0.87);
        svg {
          height: 1.5em;
          width: 1.1em;
          margin-right: 0.25em;
        }
        h1 {
          display: inline;
        }
      }
      .category-title-description {
        .cooked {
            margin: 0 0 0.3em 0;
        }
        strong {
            font-weight: normal;    
        }
        a,
        a:visited {
          color: inherit;
          text-decoration: underline;
        }
      }
      .category-image-attribution {
          display: none;
          color: #555;
          margin-top: 0.2em;
          font-size: 0.8em;
          &:after {
            content: "";
            position: relative;
            top: -0.2em;
          }
      }
  }
}

@media screen and (min-width: 48em) {
    div[class^="category-title-header"] .wrap {
        min-height: 18em;
        padding-top: 1em;
        padding-bottom: 1em;
        .category-title-contents {
            position: absolute;
            bottom: 1em;
        }
        .category-title-description {
            max-width: 340px; // limit width
            max-height: 12.3em;
            overflow: hidden;
        }
    }
}

@function pem($pixels) {
  @return #{$pixels/16.0}em
}

// hard code banner background images
// Commons link seem to load faster than the url from category.uploaded_background.url
// image size: 600px - 900px - 1200px - 1600px
// default image (earth from moon)
div[class^="category-title-header"] {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/AS8-13-2329.jpg/600px-AS8-13-2329.jpg);}
div.category-banner-ask-anything {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Boston_Public_Library%2C_Boston%2C_United_States_%28Unsplash%29.jpg/600px-Boston_Public_Library%2C_Boston%2C_United_States_%28Unsplash%29.jpg);}
div.category-banner-events {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Framed_Arch_and_Stairs_at_AGO_in_Toronto_%28Unsplash%29.jpg/600px-Framed_Arch_and_Stairs_at_AGO_in_Toronto_%28Unsplash%29.jpg);}
div.category-banner-regions {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Top_view_of_a_compass_on_a_map_%28Unsplash%29.jpg/600px-Top_view_of_a_compass_on_a_map_%28Unsplash%29.jpg);}
div.category-banner-wikimedia-2030 {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/World_heat_map.png/600px-World_heat_map.png);}
div.category-banner-projects {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Lights_on_the_roof_%28Unsplash%29.jpg/600px-Lights_on_the_roof_%28Unsplash%29.jpg);}
div.category-banner-campaigns {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Ferrocarril_en_el_salar_de_Ascot%C3%A1n%2C_Chile%2C_2016-02-09%2C_DD_46.JPG/600px-Ferrocarril_en_el_salar_de_Ascot%C3%A1n%2C_Chile%2C_2016-02-09%2C_DD_46.JPG);}
div.category-banner-campaigns-calendar {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Ferrocarril_en_el_salar_de_Ascot%C3%A1n%2C_Chile%2C_2016-02-09%2C_DD_46.JPG/600px-Ferrocarril_en_el_salar_de_Ascot%C3%A1n%2C_Chile%2C_2016-02-09%2C_DD_46.JPG);}
div.category-banner-growth {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/High_Trestle_Trail_Bridge%2C_Madrid%2C_Iowa%2C_United_States_%28Unsplash_F9o7u-CnDJk%29_CropNR.jpg/600px-High_Trestle_Trail_Bridge%2C_Madrid%2C_Iowa%2C_United_States_%28Unsplash_F9o7u-CnDJk%29_CropNR.jpg);}
div.category-banner-space-station {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/ISS-45_Atlantic_Ocean_seen_from_the_Cupola.jpg/600px-ISS-45_Atlantic_Ocean_seen_from_the_Cupola.jpg);}
div.category-banner-education {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Club_de_Edici%C3%B3n_II_mayo_2017.tif/lossy-page1-600px-Club_de_Edici%C3%B3n_II_mayo_2017.tif.jpg);}
div.category-banner-other {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Urban_Shifting_%28Unsplash%29.jpg/600px-Urban_Shifting_%28Unsplash%29.jpg);}
div.category-banner-translation {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Open_book_in_sun_%28Unsplash%29.jpg/600px-Open_book_in_sun_%28Unsplash%29.jpg);}
div.category-banner-technical {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Looking_up_%28Unsplash%29.jpg/600px-Looking_up_%28Unsplash%29.jpg);}
div.category-banner-research {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/LOOK_%28Unsplash%29.jpg/600px-LOOK_%28Unsplash%29.jpg);}
div.category-banner-gender-gap {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Sea_wave_abstract_texture_%28Unsplash%29.jpg/600px-Sea_wave_abstract_texture_%28Unsplash%29.jpg);}
div.category-banner-brand {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Submerged_wood_texture_%28Unsplash%29.jpg/600px-Submerged_wood_texture_%28Unsplash%29.jpg);}
div.category-banner-brand-network {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Print_Wikipedia_by_Michael_Mandiberg%2C_NYC_June_18%2C_2015-34.jpg/600px-Print_Wikipedia_by_Michael_Mandiberg%2C_NYC_June_18%2C_2015-34.jpg);}
div.category-banner-about-wikimedia-space {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/An_artist%27s_impression_of_a_Pioneer_spacecraft_on_its_way_to_interstellar_space.jpg/600px-An_artist%27s_impression_of_a_Pioneer_spacecraft_on_its_way_to_interstellar_space.jpg);}
div.category-banner-huwiki {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Budapest_from_Gellert_Hill_MC.jpg/600px-Budapest_from_Gellert_Hill_MC.jpg)}

@media screen and (min-width: pem(768)) {
div[class^="category-title-header"] {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/AS8-13-2329.jpg/900px-AS8-13-2329.jpg);}
div.category-banner-ask-anything {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Boston_Public_Library%2C_Boston%2C_United_States_%28Unsplash%29.jpg/900px-Boston_Public_Library%2C_Boston%2C_United_States_%28Unsplash%29.jpg);}
div.category-banner-events {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Framed_Arch_and_Stairs_at_AGO_in_Toronto_%28Unsplash%29.jpg/900px-Framed_Arch_and_Stairs_at_AGO_in_Toronto_%28Unsplash%29.jpg);}
div.category-banner-regions {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Top_view_of_a_compass_on_a_map_%28Unsplash%29.jpg/900px-Top_view_of_a_compass_on_a_map_%28Unsplash%29.jpg);}
div.category-banner-wikimedia-2030 {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/World_heat_map.png/900px-World_heat_map.png);}
div.category-banner-projects {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Lights_on_the_roof_%28Unsplash%29.jpg/900px-Lights_on_the_roof_%28Unsplash%29.jpg);}
div.category-banner-campaigns {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Ferrocarril_en_el_salar_de_Ascot%C3%A1n%2C_Chile%2C_2016-02-09%2C_DD_46.JPG/900px-Ferrocarril_en_el_salar_de_Ascot%C3%A1n%2C_Chile%2C_2016-02-09%2C_DD_46.JPG);}
div.category-banner-campaigns-calendar {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Ferrocarril_en_el_salar_de_Ascot%C3%A1n%2C_Chile%2C_2016-02-09%2C_DD_46.JPG/900px-Ferrocarril_en_el_salar_de_Ascot%C3%A1n%2C_Chile%2C_2016-02-09%2C_DD_46.JPG);}
div.category-banner-growth {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/High_Trestle_Trail_Bridge%2C_Madrid%2C_Iowa%2C_United_States_%28Unsplash_F9o7u-CnDJk%29_CropNR.jpg/900px-High_Trestle_Trail_Bridge%2C_Madrid%2C_Iowa%2C_United_States_%28Unsplash_F9o7u-CnDJk%29_CropNR.jpg);}
div.category-banner-space-station {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/ISS-45_Atlantic_Ocean_seen_from_the_Cupola.jpg/900px-ISS-45_Atlantic_Ocean_seen_from_the_Cupola.jpg);}
div.category-banner-education {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Club_de_Edici%C3%B3n_II_mayo_2017.tif/lossy-page1-900px-Club_de_Edici%C3%B3n_II_mayo_2017.tif.jpg);}
div.category-banner-other {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Urban_Shifting_%28Unsplash%29.jpg/900px-Urban_Shifting_%28Unsplash%29.jpg);}
div.category-banner-translation {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Open_book_in_sun_%28Unsplash%29.jpg/900px-Open_book_in_sun_%28Unsplash%29.jpg);}
div.category-banner-technical {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Looking_up_%28Unsplash%29.jpg/900px-Looking_up_%28Unsplash%29.jpg);}
div.category-banner-research {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/LOOK_%28Unsplash%29.jpg/900px-LOOK_%28Unsplash%29.jpg);}
div.category-banner-gender-gap {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Sea_wave_abstract_texture_%28Unsplash%29.jpg/900px-Sea_wave_abstract_texture_%28Unsplash%29.jpg);}
div.category-banner-brand {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Submerged_wood_texture_%28Unsplash%29.jpg/900px-Submerged_wood_texture_%28Unsplash%29.jpg);}
div.category-banner-brand-network {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Print_Wikipedia_by_Michael_Mandiberg%2C_NYC_June_18%2C_2015-34.jpg/900px-Print_Wikipedia_by_Michael_Mandiberg%2C_NYC_June_18%2C_2015-34.jpg);}
div.category-banner-about-wikimedia-space {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/An_artist%27s_impression_of_a_Pioneer_spacecraft_on_its_way_to_interstellar_space.jpg/900px-An_artist%27s_impression_of_a_Pioneer_spacecraft_on_its_way_to_interstellar_space.jpg);}
div.category-banner-huwiki {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Budapest_from_Gellert_Hill_MC.jpg/900px-Budapest_from_Gellert_Hill_MC.jpg)}
}

@media screen and (min-width: pem(992)) {
div[class^="category-title-header"] {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/AS8-13-2329.jpg/1200px-AS8-13-2329.jpg);}
div.category-banner-ask-anything {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Boston_Public_Library%2C_Boston%2C_United_States_%28Unsplash%29.jpg/1200px-Boston_Public_Library%2C_Boston%2C_United_States_%28Unsplash%29.jpg);}  
div.category-banner-events {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Framed_Arch_and_Stairs_at_AGO_in_Toronto_%28Unsplash%29.jpg/1200px-Framed_Arch_and_Stairs_at_AGO_in_Toronto_%28Unsplash%29.jpg);}
div.category-banner-regions {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Top_view_of_a_compass_on_a_map_%28Unsplash%29.jpg/1200px-Top_view_of_a_compass_on_a_map_%28Unsplash%29.jpg);}
div.category-banner-wikimedia-2030 {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/World_heat_map.png/1200px-World_heat_map.png);}
div.category-banner-projects {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Lights_on_the_roof_%28Unsplash%29.jpg/1200px-Lights_on_the_roof_%28Unsplash%29.jpg);}
div.category-banner-campaigns {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Ferrocarril_en_el_salar_de_Ascot%C3%A1n%2C_Chile%2C_2016-02-09%2C_DD_46.JPG/1200px-Ferrocarril_en_el_salar_de_Ascot%C3%A1n%2C_Chile%2C_2016-02-09%2C_DD_46.JPG);}
div.category-banner-campaigns-calendar {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Ferrocarril_en_el_salar_de_Ascot%C3%A1n%2C_Chile%2C_2016-02-09%2C_DD_46.JPG/1200px-Ferrocarril_en_el_salar_de_Ascot%C3%A1n%2C_Chile%2C_2016-02-09%2C_DD_46.JPG);}
div.category-banner-growth {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/High_Trestle_Trail_Bridge%2C_Madrid%2C_Iowa%2C_United_States_%28Unsplash_F9o7u-CnDJk%29_CropNR.jpg/1200px-High_Trestle_Trail_Bridge%2C_Madrid%2C_Iowa%2C_United_States_%28Unsplash_F9o7u-CnDJk%29_CropNR.jpg);}
div.category-banner-space-station {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/ISS-45_Atlantic_Ocean_seen_from_the_Cupola.jpg/1200px-ISS-45_Atlantic_Ocean_seen_from_the_Cupola.jpg);}
div.category-banner-education {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Club_de_Edici%C3%B3n_II_mayo_2017.tif/lossy-page1-1200px-Club_de_Edici%C3%B3n_II_mayo_2017.tif.jpg);}
div.category-banner-other {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Urban_Shifting_%28Unsplash%29.jpg/1200px-Urban_Shifting_%28Unsplash%29.jpg);}
div.category-banner-translation {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Open_book_in_sun_%28Unsplash%29.jpg/1200px-Open_book_in_sun_%28Unsplash%29.jpg);}
div.category-banner-technical {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Looking_up_%28Unsplash%29.jpg/1200px-Looking_up_%28Unsplash%29.jpg);}
div.category-banner-research {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/LOOK_%28Unsplash%29.jpg/1200px-LOOK_%28Unsplash%29.jpg);}
div.category-banner-gender-gap {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Sea_wave_abstract_texture_%28Unsplash%29.jpg/1200px-Sea_wave_abstract_texture_%28Unsplash%29.jpg);}
div.category-banner-brand {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Submerged_wood_texture_%28Unsplash%29.jpg/1200px-Submerged_wood_texture_%28Unsplash%29.jpg);}
div.category-banner-brand-network {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Print_Wikipedia_by_Michael_Mandiberg%2C_NYC_June_18%2C_2015-34.jpg/1200px-Print_Wikipedia_by_Michael_Mandiberg%2C_NYC_June_18%2C_2015-34.jpg);}
div.category-banner-about-wikimedia-space {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/An_artist%27s_impression_of_a_Pioneer_spacecraft_on_its_way_to_interstellar_space.jpg/1200px-An_artist%27s_impression_of_a_Pioneer_spacecraft_on_its_way_to_interstellar_space.jpg);}
div.category-banner-huwiki {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Budapest_from_Gellert_Hill_MC.jpg/1200px-Budapest_from_Gellert_Hill_MC.jpg)}
}

@media screen and (min-width: pem(1200)) {
div[class^="category-title-header"] {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/AS8-13-2329.jpg/1600px-AS8-13-2329.jpg);}
div.category-banner-ask-anything {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Boston_Public_Library%2C_Boston%2C_United_States_%28Unsplash%29.jpg/1600px-Boston_Public_Library%2C_Boston%2C_United_States_%28Unsplash%29.jpg);}  
div.category-banner-events {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Framed_Arch_and_Stairs_at_AGO_in_Toronto_%28Unsplash%29.jpg/1600px-Framed_Arch_and_Stairs_at_AGO_in_Toronto_%28Unsplash%29.jpg);}
div.category-banner-regions {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Top_view_of_a_compass_on_a_map_%28Unsplash%29.jpg/1600px-Top_view_of_a_compass_on_a_map_%28Unsplash%29.jpg);}
div.category-banner-wikimedia-2030 {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/World_heat_map.png/1600px-World_heat_map.png);}
div.category-banner-projects {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Lights_on_the_roof_%28Unsplash%29.jpg/1600px-Lights_on_the_roof_%28Unsplash%29.jpg);}
div.category-banner-campaigns {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Ferrocarril_en_el_salar_de_Ascot%C3%A1n%2C_Chile%2C_2016-02-09%2C_DD_46.JPG/1600px-Ferrocarril_en_el_salar_de_Ascot%C3%A1n%2C_Chile%2C_2016-02-09%2C_DD_46.JPG);}
div.category-banner-campaigns-calendar {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Ferrocarril_en_el_salar_de_Ascot%C3%A1n%2C_Chile%2C_2016-02-09%2C_DD_46.JPG/1600px-Ferrocarril_en_el_salar_de_Ascot%C3%A1n%2C_Chile%2C_2016-02-09%2C_DD_46.JPG);}
div.category-banner-growth {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/High_Trestle_Trail_Bridge%2C_Madrid%2C_Iowa%2C_United_States_%28Unsplash_F9o7u-CnDJk%29_CropNR.jpg/1600px-High_Trestle_Trail_Bridge%2C_Madrid%2C_Iowa%2C_United_States_%28Unsplash_F9o7u-CnDJk%29_CropNR.jpg);}
div.category-banner-space-station {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/ISS-45_Atlantic_Ocean_seen_from_the_Cupola.jpg/1600px-ISS-45_Atlantic_Ocean_seen_from_the_Cupola.jpg);}
div.category-banner-education {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Club_de_Edici%C3%B3n_II_mayo_2017.tif/lossy-page1-1600px-Club_de_Edici%C3%B3n_II_mayo_2017.tif.jpg);}
div.category-banner-other {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Urban_Shifting_%28Unsplash%29.jpg/1600px-Urban_Shifting_%28Unsplash%29.jpg);}
div.category-banner-translation {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Open_book_in_sun_%28Unsplash%29.jpg/1600px-Open_book_in_sun_%28Unsplash%29.jpg);}
div.category-banner-technical {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Looking_up_%28Unsplash%29.jpg/1600px-Looking_up_%28Unsplash%29.jpg);}
div.category-banner-research {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/LOOK_%28Unsplash%29.jpg/1600px-LOOK_%28Unsplash%29.jpg);}
div.category-banner-gender-gap {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Sea_wave_abstract_texture_%28Unsplash%29.jpg/1600px-Sea_wave_abstract_texture_%28Unsplash%29.jpg);}
div.category-banner-brand {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Submerged_wood_texture_%28Unsplash%29.jpg/1600px-Submerged_wood_texture_%28Unsplash%29.jpg);}
div.category-banner-brand-network {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Print_Wikipedia_by_Michael_Mandiberg%2C_NYC_June_18%2C_2015-34.jpg/1600px-Print_Wikipedia_by_Michael_Mandiberg%2C_NYC_June_18%2C_2015-34.jpg);}
div.category-banner-about-wikimedia-space {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/An_artist%27s_impression_of_a_Pioneer_spacecraft_on_its_way_to_interstellar_space.jpg/1600px-An_artist%27s_impression_of_a_Pioneer_spacecraft_on_its_way_to_interstellar_space.jpg);}
div.category-banner-huwiki {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Budapest_from_Gellert_Hill_MC.jpg/1600px-Budapest_from_Gellert_Hill_MC.jpg)}
}

div.category-banner-education .wrap .category-image-attribution,
div.category-banner-brand-network .wrap .category-image-attribution,
div.category-banner-huwiki .wrap .category-image-attribution {
    display: block; /*don't hide anymore*/
}
div.category-banner-education .wrap .category-image-attribution:after {
    content: "Axel Pettersson, CC BY-SA 3.0";
}

div.category-banner-brand-network .wrap .category-image-attribution:after {
    content: "VGrigas (WMF), CC BY-SA 3.0";
}

div.category-banner-huwiki .wrap .category-image-attribution:after {
    content: "Christian Mehlführer, CC BY 3.0";
}


// tests

div.category-banner-test-closed-group-2 {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Perler_bead_heart_fused_side.jpg/1000px-Perler_bead_heart_fused_side.jpg);}


